[build]
rustflags = ["-C", "link-arg=-fuse-ld=lld"]

[env]
LIBCLANG_PATH = "/usr/lib/llvm-14/lib"
BINDGEN_EXTRA_CLANG_ARGS = "-I/usr/include/clang/14.0.0/include"

[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = ["-C", "link-arg=-fuse-ld=lld"]

[profile.dev]
debug = 1
opt-level = 0

[profile.release]
debug = false
opt-level = 3
lto = true
codegen-units = 1
panic = "abort"

